@font-face {
  font-family: "Standard Stencil";
  src: url(/fonts/StandardStencil.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Tele2 DisplaySerif";

  src: url(/fonts/tele2_displayserif-bold.woff) format("woff");

  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Tele2 Text";
  src: url(/fonts/Tele2TextSans-Regular-short__W.woff) format("woff");

  font-weight: 400;
}
