$backgcolor: #1f2229;
$mainColor: rgb(255, 255, 255);
$secondaryColor: rgb(72, 204, 253);

@mixin p-text {
  font-family: "Tele2 Text";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}
@mixin displaySerif {
  font-family: "Tele2 DisplaySerif";
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 18px;
}

@mixin h2-text {
  font-family: "Standard Stencil";
  font-weight: 700;
  font-style: normal;
  line-height: 36px;
  font-size: 36px;
}

.section-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #383d4a;
  margin-bottom: 30px;
  margin: 25px auto;
  padding: 20px 10px;
  max-width: 1140px;
}

.social-usersAgreement {
  display: flex;
  align-items: center;
  gap: 20px;
}

.socials-usersAgreement {
  display: flex;
  align-items: center;
  gap: 10px;
}
.social-icon {
  width: 44px;
}

.section-socials--p {
  font-size: 13px !important;
}
