//Импортирую шрифты из файла fonts.scss

@import url(/public/styles/fonts.scss);
@import url(/public/styles/nullstyle.scss);
@import url(/public/styles/header.scss);
@import url(/public/styles/section_promo.scss);
@import url(/public/styles/section_condition.scss);
@import url(/public/styles/section_number.scss);
@import url(/public/styles/section_tarif.scss);
@import url(/public/styles/section_socials.scss);
@import url(/public/styles/footer.scss);
@import url(/public/styles/takePartModal.scss);

//Миксины для шрифтов

@mixin p-text {
  font-family: "Tele2 Text";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}
@mixin displaySerif {
  font-family: "Tele2 DisplaySerif";
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 18px;
}

@mixin h2-text {
  font-family: "Standard Stencil";
  font-weight: 700;
  font-style: normal;
  line-height: 36px;
  font-size: 36px;
}

//Переменные для цветов

$backgcolor: #1f2229;
$mainColor: rgb(255, 255, 255);
$secondaryColor: rgb(72, 204, 253);

//Оформление боди

body {
  background-color: $backgcolor;
  @include displaySerif;
}

//Стиль всех h3 на странице
.all-h3 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  font-size: 24px;
}

//Стиль всех кнопок на странице

.all-buttons {
  border-radius: 30px;
  margin-top: 56px;
  padding: 19px 44px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: black;
  font-weight: 700;
}

.all-buttons:hover {
  color: black;
  background-color: gray;
}

//Стиль всех р на странице

.p {
  @include p-text;
  line-height: 27px;
}

@media screen and (min-width: 1170px) {
  .section {
    max-width: 1110px;
  }
}
